################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DotNetCodeReviewer-action.slnx/FileContentIndex/e48b2de6-3a3f-4535-a5f5-d39c6b76ec9b.vsidx
/.vs/DotNetCodeReviewer-action.slnx/FileContentIndex/c5f83337-7d22-487c-93c6-90530624dfa7.vsidx
/.vs/DotNetCodeReviewer-action.slnx/FileContentIndex/e7c6bd12-856a-4b28-94ce-b1e6b7b845dd.vsidx
/.vs/slnx.sqlite
/.vs/DotNetCodeReviewer-action.slnx/FileContentIndex/45f51be8-2cf7-42fe-aaa0-a9d1cec61cde.vsidx
/.vs/DotNetCodeReviewer-action.slnx/FileContentIndex/74dd5e1a-173e-4bf5-b2f7-3818a60d14be.vsidx
/.vs/DotNetCodeReviewer-action.slnx/FileContentIndex

# Visual Studio
.vs/
*.user
bin/
obj/

# Node (if you ever add tooling)
node_modules/

# OS
.DS_Store
Thumbs.db